<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"> 
    {% block head %} {% endblock %}
</head>
<body>
    <div class="top-header">
        <h1>Pneumonia Detection</h1>
    </div>
    {% block body %} {% endblock %}
</body>
</html>